@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Roboto";
}

.purpleText {
  color: #6E2DFA;
}

.underlineText {
  text-decoration: underline;
}

.boldText {
  font-weight: bold;
}

.black {
  color: black;
}

h1 {
  font-size: 52px;
  line-height: 62px;
}

h2 {
  font-size: 44px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  margin: 30px 0px;
}

p {
  font-size: 22px;
  margin: 15px auto;
  color: #736B8E;
}

.wrapper {
  max-width: 1920px;
  width: 100%;
  background-color: #f3f1f8;
}
.wrapper .home_section {
  width: 100%;
  min-height: 1000px;
  overflow: auto;
  background-image: url("../images/illustrations/home_illustration.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.wrapper .home_section .desc_container {
  width: 52%;
  padding-left: 100px;
  margin: 100px 0px;
}
.wrapper .home_section .desc_container .invest_now {
  margin: 100px 0px;
  display: flex;
  align-items: center;
  background-color: #6E2DFA;
  color: #fff;
  padding: 30px 45px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.wrapper .home_section .desc_container .invest_now img {
  margin-left: 5px;
  height: 25px;
}
.wrapper .home_section .desc_container .invest_now:hover {
  background-color: #4f06ee;
}
.wrapper .white_content_container {
  background-color: white;
  width: 95%;
  height: auto;
  border-radius: 48px;
  margin: -100px auto 100px;
  padding: 100px 80px 50px;
}
.wrapper .white_content_container .main_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.wrapper .white_content_container .main_container .sidebar_content_container::-webkit-scrollbar {
  display: none;
}
.wrapper .white_content_container .main_container .sidebar_content_container {
  flex: 1;
  height: 98vh;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  bottom: 10px;
  background-color: #ebe9f1;
  border: 0px solid;
  border-radius: 20px;
}
.wrapper .white_content_container .main_container .sidebar_content_container .flex_container {
  margin: 20px;
  border-bottom: 1px solid #E0DBED;
  display: flex;
  justify-content: space-around;
}
.wrapper .white_content_container .main_container .sidebar_content_container .flex_container div {
  margin: 20px auto;
}
.wrapper .white_content_container .main_container .sidebar_content_container .flex_container p {
  font-size: 18px;
  color: #736B8E;
}
.wrapper .white_content_container .main_container .sidebar_content_container .flex_container p.val {
  color: black;
}
.wrapper .white_content_container .main_container .sidebar_content_container p.stat_text {
  margin: 20px;
  font-size: 18px;
}
.wrapper .white_content_container .main_container .sidebar_content_container .stat_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F3F1F8;
  border: 1px solid #E0DBED;
  border-radius: 8px;
  margin: 10px 20px;
  padding: 12px 2px;
  color: #736B8E;
}
.wrapper .white_content_container .main_container .sidebar_content_container .stat_div p {
  font-size: 18px;
}
.wrapper .white_content_container .main_container .sidebar_content_container .stat_div .right_div {
  display: flex;
  align-items: center;
}
.wrapper .white_content_container .main_container .sidebar_content_container .stat_div .right_div p.tag {
  background-color: #d9d8dc;
  padding: 8px;
  border: 0px solid;
  border-radius: 8px;
}
.wrapper .white_content_container .main_container .sidebar_content_container .stat_div .right_div img {
  margin-left: 8px;
  height: 7px;
}
.wrapper .white_content_container .main_container .sidebar_content_container .link_text {
  margin: 15px 20px 30px;
  display: flex;
  color: #6E2DFA;
  font-weight: bold;
}
.wrapper .white_content_container .main_container .sidebar_content_container .link_text img {
  margin-left: 5px;
}
.wrapper .white_content_container .main_container .sidebar_content_container .review_section {
  background-color: #fff;
  border: 1px solid #E0DBED;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  font-size: 18px;
  font-family: "Poppins";
}
.wrapper .white_content_container .main_container .sidebar_content_container .review_section p {
  color: #736B8E;
  font-weight: 500;
}
.wrapper .white_content_container .main_container .sidebar_content_container .review_section .prof_sec {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}
.wrapper .white_content_container .main_container .sidebar_content_container .review_section .prof_sec div {
  margin-left: 20px;
}
.wrapper .white_content_container .main_container .content_container {
  flex: 3;
}
.wrapper .white_content_container .main_container .content_container .reason_label {
  margin: 15px 0px;
  font-size: 22px;
  color: #736B8E;
}
.wrapper .white_content_container .main_container .content_container iframe.video_player {
  width: 100%;
  height: 600px;
  border-radius: 14px;
  margin-bottom: 30px;
}
.wrapper .white_content_container .main_container .content_container .sub_content_container {
  padding-left: 100px;
  padding-right: 50px;
  width: 100%;
  height: auto;
}
.wrapper .white_content_container .main_container .content_container .sub_content_container .reasons_header {
  margin: 80px 0px;
}

@media only screen and (max-width: 1600px) and (min-width: 1440px) {
  .wrapper .home_section {
    background-color: rgb(227, 228, 168);
    background-size: 55%;
  }
  .wrapper .home_section .desc_container {
    width: 60%;
  }
  .wrapper .home_section .desc_container h1 {
    font-size: 48px;
  }
  .wrapper .home_section .desc_container p {
    font-size: 24px;
  }
  .wrapper .home_section .desc_container .invest_now {
    font-size: 24px;
  }
  .wrapper .white_content_container .main_container {
    background-color: rgb(233, 183, 183);
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .flex_container {
    margin: 20px 15px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container p.stat_text {
    margin: 20px 15px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .stat_div {
    margin: 10px 15px;
    padding: 12px 2px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .stat_div .right_div p.tag {
    padding: 5px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .link_text {
    margin: 15px 15px 30px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .link_text img {
    margin-left: 8px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .review_section {
    padding: 20px 15px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .review_section .prof_sec {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .review_section .prof_sec div {
    margin-left: 20px;
  }
  .wrapper .white_content_container .main_container .content_container {
    flex: 3;
  }
}
@media only screen and (max-width: 1439.99px) and (min-width: 1366px) {
  .wrapper .home_section {
    background-color: rgb(168, 228, 178);
    background-size: 55%;
  }
  .wrapper .home_section .desc_container {
    width: 55%;
  }
  .wrapper .home_section .desc_container h1 {
    font-size: 44px;
  }
  .wrapper .home_section .desc_container p {
    font-size: 24px;
  }
  .wrapper .home_section .desc_container .invest_now {
    font-size: 24px;
  }
  .wrapper .white_content_container .main_container {
    background-color: rgb(233, 183, 183);
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .flex_container {
    margin: 20px 15px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container p.stat_text {
    margin: 20px 15px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .stat_div {
    margin: 10px 15px;
    padding: 12px 2px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .stat_div .right_div p.tag {
    padding: 5px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .link_text {
    margin: 15px 15px 30px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .link_text img {
    margin-left: 8px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .review_section {
    padding: 20px 15px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .review_section .prof_sec {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container .review_section .prof_sec div {
    margin-left: 20px;
  }
  .wrapper .white_content_container .main_container .content_container {
    flex: 3;
    background-color: green;
  }
}
@media only screen and (max-width: 1365.99px) and (min-width: 1024px) {
  .wrapper .home_section {
    background-color: rgb(168, 204, 228);
    background-position: bottom right;
    background-size: 60%;
  }
  .wrapper .home_section .desc_container {
    width: 68%;
  }
  .wrapper .home_section .desc_container h1 {
    font-size: 40px;
  }
  .wrapper .home_section .desc_container p {
    font-size: 22px;
  }
  .wrapper .home_section .desc_container .invest_now {
    font-size: 24px;
  }
  .wrapper .white_content_container .main_container {
    background-color: rgb(233, 183, 183);
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container {
    display: none;
  }
  .wrapper .white_content_container .main_container .content_container {
    flex: 3;
    background-color: green;
  }
}
@media only screen and (max-width: 1023.99px) and (min-width: 768px) {
  .wrapper .home_section {
    height: 1100px;
    background-color: rgb(215, 228, 168);
    background-image: url("../images/illustrations/mob/home_illustration_mob.svg");
    background-position: bottom right;
    background-size: 66%;
  }
  .wrapper .home_section .desc_container {
    width: 80%;
    padding-left: 60px;
    margin: 80px 0px 100px;
  }
  .wrapper .home_section .desc_container h1 {
    font-size: 40px;
    line-height: 52px;
  }
  .wrapper .home_section .desc_container p {
    font-size: 22px;
  }
  .wrapper .home_section .desc_container .invest_now {
    font-size: 22px;
  }
  .wrapper .white_content_container .main_container {
    background-color: rgb(233, 183, 183);
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container {
    display: none;
  }
  .wrapper .white_content_container .main_container .content_container {
    flex: 3;
    background-color: green;
  }
  .wrapper .white_content_container .main_container .content_container iframe.video_player {
    height: 400px;
  }
}
@media only screen and (max-width: 767.99px) {
  .wrapper .home_section {
    background-color: rgb(214, 168, 228);
    background-image: url("../images/illustrations/mob/home_illustration_mob.svg");
    background-position: bottom right;
    background-size: 80%;
  }
  .wrapper .home_section .desc_container {
    width: 100%;
    padding: 10px;
    margin: 100px 0px 100px;
  }
  .wrapper .home_section .desc_container h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .wrapper .home_section .desc_container p {
    font-size: 18px;
  }
  .wrapper .home_section .desc_container .invest_now {
    margin: 40px 0px;
    padding: 25px 40px;
    font-size: 18px;
  }
  .wrapper .home_section .desc_container .invest_now img {
    margin-left: 5px;
    height: 25px;
  }
  .wrapper .white_content_container .main_container {
    background-color: rgb(233, 183, 183);
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .wrapper .white_content_container .main_container .sidebar_content_container {
    display: none;
  }
  .wrapper .white_content_container .main_container .content_container {
    flex: 3;
    background-color: green;
  }
  .wrapper .white_content_container .main_container .content_container iframe.video_player {
    height: 300px;
  }
}/*# sourceMappingURL=style.css.map */